@font-face {
  font-family: Header;
  src: url(AkzidenzGrotesk.ttf);
}

@font-face {
  font-family: Code;
  src: url(Courier.ttf);
}

@font-face {
  font-family: AGL;
  src: url(AkzidenzGroteskLight.ttf);
}

* {
	box-sizing: border-box;
	margin-right: 0px
}

a {
	font: AGL;
}

body {
	background-color: #ffffff;
	border: 
}

h1 {
	font-family: Header;
	text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: Header;
  text-align: center;
}

nav {
	text-align: right;
}



.code {
	font-family: Code;
	background: black;
	color: white;
}

.text {
	font-family: AGL;
	color: black;
}

.link1 {
	color: blue; 
	font-family: AGL; 
	font-size: 20px;
	text-decoration: none;
	text-decoration-color: #ffffff;
}

.link1:hover, .link1:active {
	color: black; 
	font-family: AGL; 
	font-size: 24px;
	text-decoration: none;
	text-decoration-color: #ffffff;
}

.link2 {
	color: blue; 
	font-family: AGL;
	font-size: 18px;
	text-decoration: none;
	text-decoration-color: #ffffff;
}

.link2:hover, .link2:active {
	color: black; 
	font-family: AGL;
	font-size: 22px;
	text-decoration: none;
	text-decoration-color: #ffffff;
}

.link3 {
	color: blue; 
	font-family: AGL; 
	font-size: 16px;
	text-decoration: none;
	text-decoration-color: #ffffff; 
}

.link3:hover, .link3:active {
	color: black; 
	font-family: AGL; 
	font-size: 20px;
	text-decoration: none;
	text-decoration-color: #ffffff;
}

.link4 {
	color: blue; 
	font-family: AGL; 
	font-size: 14px;
	text-decoration: none;
	text-decoration-color: #ffffff;
}

.break {
	color: white;
}

.nav {
	font-size: 24px;
	font-family: Header;
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
  
  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 74.99%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 74.99%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}