@font-face {
  font-family: Header;
  src: url(AkzidenzGrotesk.ttf);
}

@font-face {
  font-family: Code;
  src: url(Courier.ttf);
}

@font-face {
  font-family: AGL;
  src: url(AkzidenzGroteskLight.ttf);
}

a {
	font: AGL;
}

body {
	background-color: #ffffff;
}

h1 {
	font-family: Header;
	text-align: center;
}
h2, h3, h4, h5, h6 {
  font-family: Header;
  text-align: center;
}

nav {
	text-align: right;
}

.code {
	font-family: Code;
	background: black;
	color: white;
}

.text {
	font-family: AGL;
	color: black;
}

.link1 {
	color: blue; 
	font-family: AGL; 
	font-size: 20px;
	text-decoration: underline;
	text-decoration-color: #ffffff 
}

.link2 {
	color: blue; 
	font-family: AGL;
	font-size: 18px;
	text-decoration: underline;
	text-decoration-color: #ffffff 
}

.link3 {
	color: blue; 
	font-family: AGL; 
	font-size: 16px;
	text-decoration: underline;
	text-decoration-color: #ffffff 
}

.link4 {
	color: blue; 
	font-family: AGL; 
	font-size: 14px;
	text-decoration: underline;
	text-decoration-color: #ffffff 
}

.break {
	color: white;
}

.nav {
	font-size: 24px;
}